<a href="https://colab.research.google.com/github/shejogalvez/scrabble-shejogalvez/blob/main/Proyecto_basededatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL y Descarga de los CSV

In [ ]:
# install
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres
%sql create user cc3201 with superuser
!wget https://www.dropbox.com/s/baj6l0x61lg97x5/plays.csv
!wget https://www.dropbox.com/s/l0a44lb3fbb3ime/records.csv
!wget https://www.dropbox.com/s/1t176ra9saizrkk/players.csv
!wget https://www.dropbox.com/s/cim4qbcy0pjq9vr/likes.csv
!wget https://www.dropbox.com/s/0q3awvbjtuj4uv9/courses.csv
!wget https://www.dropbox.com/s/t2andtinktjlvsf/course-meta.csv
!wget https://www.dropbox.com/s/zymiq8fyqdn4tyw/clears.csv

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Get:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release [564 B]
Get:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release.gpg [833 B]
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [43.2 kB]
Get:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,872 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,376 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [278 kB]
Get:19 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Packages [66.5 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,707 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,140 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [874 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,298 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [45.6 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [304 kB]
Get:26 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [49.2 kB]
Fetched 11.3 MB in 4s (3,171 kB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
43 packages can be upgraded. Run 'apt list --upgradable' to see them.
 * Starting PostgreSQL 10 database server
   ...done.
CREATE ROLE

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

 * postgresql+psycopg2://@/postgres
--2021-01-13 00:54:13--  https://www.dropbox.com/s/baj6l0x61lg97x5/plays.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:6018:18::a27d:312
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/baj6l0x61lg97x5/plays.csv [following]
--2021-01-13 00:54:13--  https://www.dropbox.com/s/raw/baj6l0x61lg97x5/plays.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucf65609904418d060c51cb80a53.dl.dropboxusercontent.com/cd/0/inline/BG5ouAVZcb6r3LzvRr_iyva3uPmHce4sR33c2ULBFiX7ha60N8iWFiz-JvXI5Wehm39pWx4R4b3UQJoTbep1Fo3Fkaob-Wl9g-H5tjWM7xAXWRW9LuQayisWB7VbsxlwTLQ/file# [following]
--2021-01-13 00:54:14--  https://ucf65609904418d060c51cb80a53.dl.dropboxusercontent.com/cd/0/inline/BG5ouAVZcb6r3LzvRr_iyva3uPmHce4sR33c2ULBFiX7ha60N8iWFiz-JvXI5Wehm39pWx4R4b3UQJoTbep1Fo3Fkaob-Wl9g-H5tjWM7xAXWRW9LuQayisWB7VbsxlwTLQ/file
Resolving ucf65609904418d060c51cb80a53.dl.dropboxusercontent.com (ucf65609904418d060c51cb80a53.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:601b:15::a27d:80f
Connecting to ucf65609904418d060c51cb80a53.dl.dropboxusercontent.com (ucf65609904418d060c51cb80a53.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 216802876 (207M) [text/plain]
Saving to: ‘plays.csv’

plays.csv           100%[===================>] 206.76M  63.7MB/s    in 3.2s

2021-01-13 00:54:18 (63.7 MB/s) - ‘plays.csv’ saved [216802876/216802876]

--2021-01-13 00:54:18--  https://www.dropbox.com/s/l0a44lb3fbb3ime/records.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:6018:18::a27d:312
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/l0a44lb3fbb3ime/records.csv [following]
--2021-01-13 00:54:18--  https://www.dropbox.com/s/raw/l0a44lb3fbb3ime/records.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucf8298b16af34748ea545efe373.dl.dropboxusercontent.com/cd/0/inline/BG4Nw63zsggh5OBbMv6vam6xvzGGzjlFyJNDPs1zGm7Bz_oADttWdPKY07v_Q4VlIkMx4Rqhkp2-KEYCcohd7Mve1Tnj8LPdKG4LrtCsvlunVUx2K380FU7SC9VwuklQXoI/file# [following]
--2021-01-13 00:54:18--  https://ucf8298b16af34748ea545efe373.dl.dropboxusercontent.com/cd/0/inline/BG4Nw63zsggh5OBbMv6vam6xvzGGzjlFyJNDPs1zGm7Bz_oADttWdPKY07v_Q4VlIkMx4Rqhkp2-KEYCcohd7Mve1Tnj8LPdKG4LrtCsvlunVUx2K380FU7SC9VwuklQXoI/file
Resolving ucf8298b16af34748ea545efe373.dl.dropboxusercontent.com (ucf8298b16af34748ea545efe373.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:6018:15::a27d:30f
Connecting to ucf8298b16af34748ea545efe373.dl.dropboxusercontent.com (ucf8298b16af34748ea545efe373.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7109289 (6.8M) [text/plain]
Saving to: ‘records.csv’

records.csv         100%[===================>]   6.78M  40.4MB/s    in 0.2s

2021-01-13 00:54:19 (40.4 MB/s) - ‘records.csv’ saved [7109289/7109289]

--2021-01-13 00:54:19--  https://www.dropbox.com/s/1t176ra9saizrkk/players.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:6018:18::a27d:312
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/1t176ra9saizrkk/players.csv [following]
--2021-01-13 00:54:19--  https://www.dropbox.com/s/raw/1t176ra9saizrkk/players.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucd7962e3abf6e149b46fbefc365.dl.dropboxusercontent.com/cd/0/inline/BG4rafDwgOnovZozQzasMU5Ce6TsgIq6foMsjvAVjpSr5uBi22EZABZyidjBraBrO3_Jk0as-qdFBnMZMplAU0u61vWrfcmBCoje8CxBDsoBLBjEQvcMeMF45lOvNvaglZ4/file# [following]
--2021-01-13 00:54:20--  https://ucd7962e3abf6e149b46fbefc365.dl.dropboxusercontent.com/cd/0/inline/BG4rafDwgOnovZozQzasMU5Ce6TsgIq6foMsjvAVjpSr5uBi22EZABZyidjBraBrO3_Jk0as-qdFBnMZMplAU0u61vWrfcmBCoje8CxBDsoBLBjEQvcMeMF45lOvNvaglZ4/file
Resolving ucd7962e3abf6e149b46fbefc365.dl.dropboxusercontent.com (ucd7962e3abf6e149b46fbefc365.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:601b:15::a27d:80f
Connecting to ucd7962e3abf6e149b46fbefc365.dl.dropboxusercontent.com (ucd7962e3abf6e149b46fbefc365.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 77593369 (74M) [text/plain]
Saving to: ‘players.csv’

players.csv         100%[===================>]  74.00M  67.8MB/s    in 1.1s

2021-01-13 00:54:21 (67.8 MB/s) - ‘players.csv’ saved [77593369/77593369]

--2021-01-13 00:54:22--  https://www.dropbox.com/s/cim4qbcy0pjq9vr/likes.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:6018:18::a27d:312
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/cim4qbcy0pjq9vr/likes.csv [following]
--2021-01-13 00:54:22--  https://www.dropbox.com/s/raw/cim4qbcy0pjq9vr/likes.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc5a0339d75d7717827b04a69a27.dl.dropboxusercontent.com/cd/0/inline/BG77EAO67RAxOEXd6jlgqw3uyauIIcMpGTUg7DSRJOlXrxg1ZNA7UFAKJ2oQz8D0ZhocELM8bbBBVolKVj7msfM7qhuhHoevoTU3NDgQwSr7joeEweDDsnlTqS3m2axPcw8/file# [following]
--2021-01-13 00:54:22--  https://uc5a0339d75d7717827b04a69a27.dl.dropboxusercontent.com/cd/0/inline/BG77EAO67RAxOEXd6jlgqw3uyauIIcMpGTUg7DSRJOlXrxg1ZNA7UFAKJ2oQz8D0ZhocELM8bbBBVolKVj7msfM7qhuhHoevoTU3NDgQwSr7joeEweDDsnlTqS3m2axPcw8/file
Resolving uc5a0339d75d7717827b04a69a27.dl.dropboxusercontent.com (uc5a0339d75d7717827b04a69a27.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:601b:15::a27d:80f
Connecting to uc5a0339d75d7717827b04a69a27.dl.dropboxusercontent.com (uc5a0339d75d7717827b04a69a27.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 34034409 (32M) [text/plain]
Saving to: ‘likes.csv’

likes.csv           100%[===================>]  32.46M  65.3MB/s    in 0.5s

2021-01-13 00:54:23 (65.3 MB/s) - ‘likes.csv’ saved [34034409/34034409]

--2021-01-13 00:54:23--  https://www.dropbox.com/s/0q3awvbjtuj4uv9/courses.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:601b:18::a27d:812
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/0q3awvbjtuj4uv9/courses.csv [following]
--2021-01-13 00:54:24--  https://www.dropbox.com/s/raw/0q3awvbjtuj4uv9/courses.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc22975e39b7a165fe85fe9c8dfc.dl.dropboxusercontent.com/cd/0/inline/BG5XGA7jpXQsghM_g97mIia82ticZZOmEOtc9Q4Um3SL_g-jExQg8lfGTFAnHZGWwl0uKEjLDNKklX5ecVcE_eYKPMdW3jGbRsDB4vJsiPhqeuoYbv0f7hjaMBmqWko3b2c/file# [following]
--2021-01-13 00:54:24--  https://uc22975e39b7a165fe85fe9c8dfc.dl.dropboxusercontent.com/cd/0/inline/BG5XGA7jpXQsghM_g97mIia82ticZZOmEOtc9Q4Um3SL_g-jExQg8lfGTFAnHZGWwl0uKEjLDNKklX5ecVcE_eYKPMdW3jGbRsDB4vJsiPhqeuoYbv0f7hjaMBmqWko3b2c/file
Resolving uc22975e39b7a165fe85fe9c8dfc.dl.dropboxusercontent.com (uc22975e39b7a165fe85fe9c8dfc.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601b:15::a27d:80f
Connecting to uc22975e39b7a165fe85fe9c8dfc.dl.dropboxusercontent.com (uc22975e39b7a165fe85fe9c8dfc.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24569113 (23M) [text/plain]
Saving to: ‘courses.csv’

courses.csv         100%[===================>]  23.43M  34.4MB/s    in 0.7s

2021-01-13 00:54:26 (34.4 MB/s) - ‘courses.csv’ saved [24569113/24569113]

--2021-01-13 00:54:26--  https://www.dropbox.com/s/t2andtinktjlvsf/course-meta.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:601b:18::a27d:812
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/t2andtinktjlvsf/course-meta.csv [following]
--2021-01-13 00:54:26--  https://www.dropbox.com/s/raw/t2andtinktjlvsf/course-meta.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc1bb16f3b5332da4b3e7a8a81d3.dl.dropboxusercontent.com/cd/0/inline/BG75NdPLiLmps-P1MNOqTnqI9XzGqgnd0rZO_LhonQEfDgBxObdrE7Ghqt8qiQ4i1FJ_N_vV8dSgAC9Xa8czfjeU3VX82-S-OoUOLDa9H92BGt9pVQH9_VZB3CBUx0ns_4U/file# [following]
--2021-01-13 00:54:27--  https://uc1bb16f3b5332da4b3e7a8a81d3.dl.dropboxusercontent.com/cd/0/inline/BG75NdPLiLmps-P1MNOqTnqI9XzGqgnd0rZO_LhonQEfDgBxObdrE7Ghqt8qiQ4i1FJ_N_vV8dSgAC9Xa8czfjeU3VX82-S-OoUOLDa9H92BGt9pVQH9_VZB3CBUx0ns_4U/file
Resolving uc1bb16f3b5332da4b3e7a8a81d3.dl.dropboxusercontent.com (uc1bb16f3b5332da4b3e7a8a81d3.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:601b:15::a27d:80f
Connecting to uc1bb16f3b5332da4b3e7a8a81d3.dl.dropboxusercontent.com (uc1bb16f3b5332da4b3e7a8a81d3.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22273585 (21M) [text/plain]
Saving to: ‘course-meta.csv’

course-meta.csv     100%[===================>]  21.24M  66.7MB/s    in 0.3s

2021-01-13 00:54:28 (66.7 MB/s) - ‘course-meta.csv’ saved [22273585/22273585]

--2021-01-13 00:54:28--  https://www.dropbox.com/s/zymiq8fyqdn4tyw/clears.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:6018:18::a27d:312
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/zymiq8fyqdn4tyw/clears.csv [following]
--2021-01-13 00:54:28--  https://www.dropbox.com/s/raw/zymiq8fyqdn4tyw/clears.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc9b82c4d1d78bede3c1f26ae349.dl.dropboxusercontent.com/cd/0/inline/BG4vo5z8A2eFtc-gmIT4Ylqr9kWZr2gK4FMm0-zCq5cCTcmIhif6LyWGFQMoiBS0AI5jSvFYZjhWGRXQ10MU_jIi3iCRRMdihesmqvKAvstssyQGwxZ3Du2hBuPCL8kGFOU/file# [following]
--2021-01-13 00:54:28--  https://uc9b82c4d1d78bede3c1f26ae349.dl.dropboxusercontent.com/cd/0/inline/BG4vo5z8A2eFtc-gmIT4Ylqr9kWZr2gK4FMm0-zCq5cCTcmIhif6LyWGFQMoiBS0AI5jSvFYZjhWGRXQ10MU_jIi3iCRRMdihesmqvKAvstssyQGwxZ3Du2hBuPCL8kGFOU/file
Resolving uc9b82c4d1d78bede3c1f26ae349.dl.dropboxusercontent.com (uc9b82c4d1d78bede3c1f26ae349.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:6018:15::a27d:30f
Connecting to uc9b82c4d1d78bede3c1f26ae349.dl.dropboxusercontent.com (uc9b82c4d1d78bede3c1f26ae349.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 112834679 (108M) [text/plain]
Saving to: ‘clears.csv’

clears.csv          100%[===================>] 107.61M  83.3MB/s    in 1.3s

2021-01-13 00:54:30 (83.3 MB/s) - ‘clears.csv’ saved [112834679/112834679]

# Creación de tabla y carga de datos

In [ ]:
%%sql
DROP TABLE IF EXISTS players;
Create Table players(
    id varchar(50),
    image varchar(255),
    flag varchar(2),
    name varchar(50),
    Primary Key(id)
);

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
COPY players(id, image, flag, name)
FROM '/content/players.csv'
DELIMITER '	'
CSV HEADER;

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
DROP TABLE IF EXISTS courses;
Create Table courses(
    id varchar(50),
    difficulty varchar(50),
    gameStyle varchar(50),
    maker varchar(50),
    title varchar(50),
    thumbnail varchar(255),
    image varchar(255),
    creation varchar(50),
    Primary Key(id)
);

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
COPY courses(id, difficulty, gameStyle, maker,title,thumbnail,image,creation)
FROM '/content/courses.csv'
DELIMITER '	'
CSV HEADER;

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
DROP TABLE IF EXISTS coursesMeta;
Create Table coursesMeta(
    catch varchar(50),
    c_id varchar(50),
    firstClear varchar(50),
    tag varchar(50),
    starts int,
    players int,
    tweets int,
    clears int,
    attempts real,
    clearRate real,
    FOREIGN KEY(c_id)
    REFERENCES courses(id),
    Primary KEY(catch, c_id)
);

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
COPY coursesMeta(catch, c_id, firstClear,tag,starts,players,tweets,clears,attempts, clearRate)
FROM '/content/course-meta.csv'
DELIMITER '	'
CSV HEADER;

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
DROP TABLE IF EXISTS clears;
Create Table clears(
    catch varchar(50),
    c_id varchar(20),
    p_id varchar(50),
    FOREIGN KEY(c_id)
    REFERENCES courses(id),
    FOREIGN KEY(p_id)
    REFERENCES players(id)  
);

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
COPY clears(catch, c_id, p_id)
FROM '/content/clears.csv'
DELIMITER '	'
CSV HEADER;

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
DROP TABLE IF EXISTS likes;
Create Table likes(
    catch varchar(50),
    c_id varchar(20),
    p_id varchar(50),
    FOREIGN KEY(c_id)
    REFERENCES courses(id),
    FOREIGN KEY(p_id)
    REFERENCES players(id)      
)

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
COPY likes(catch, c_id, p_id)
FROM '/content/likes.csv'
DELIMITER '	'
CSV HEADER;

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
DROP TABLE IF EXISTS plays;
Create Table plays(
    catch varchar(50),
    c_id varchar(20),
    p_id varchar(50),
    FOREIGN KEY(c_id)
    REFERENCES courses(id),
    FOREIGN KEY(p_id)
    REFERENCES players(id)        
)

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
COPY plays(catch, c_id, p_id)
FROM '/content/plays.csv'
DELIMITER '	'
CSV HEADER;

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
DROP TABLE IF EXISTS records;
Create Table records(
    catch varchar(50),
    c_id varchar(20),
    p_id varchar(50),
    timeRecord int,
    FOREIGN KEY(c_id)
    REFERENCES courses(id),
    FOREIGN KEY(p_id)
    REFERENCES players(id)      
)

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
COPY records(catch, c_id, p_id,timeRecord)
FROM '/content/records.csv'
DELIMITER '	'
CSV HEADER;

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

# Tablas con datos cargados

In [ ]:
%%sql
SELECT * FROM players;

 * postgresql+psycopg2://@/postgres

                     id  ...        name
0           NolramImpro  ...      Nolram
1               SGK2017  ...          しげ
2        preamstrikbiz0  ...       primo
3              gotatari  ...         たくと
4            skrufpanda  ...   pinkachuz
...                 ...  ...         ...
884297          T.K.K.7  ...          かほ
884298     BunnieBucket  ...  NativeLobo
884299      soldnergeek  ...     soldner
884300  coolantonio1000  ...     Antonio
884301          diegoex  ...       wolfy

[884302 rows x 4 columns]

In [ ]:
%%sql
SELECT * FROM courses;

 * postgresql+psycopg2://@/postgres

                         id  ...             creation
0       079D-0000-0351-17E2  ...  2017-08-11 00:00:00
1       07CD-0000-030D-EA60  ...  2017-03-11 00:00:00
2       07F7-0000-030F-A51B  ...  2017-03-14 00:00:00
3       080E-0000-0307-A394  ...  2017-02-26 00:00:00
4       082F-0000-0358-A218  ...  2017-08-29 00:00:00
...                     ...  ...                  ...
115027  F3EC-0000-0397-4CD8  ...  2018-03-29 00:00:00
115028  FA09-0000-0398-1AA3  ...  2018-03-31 00:00:00
115029  0053-0000-0396-BF28  ...  2018-03-27 00:00:00
115030  0218-0000-0398-2894  ...  2018-04-01 00:00:00
115031  0F27-0000-0398-0C99  ...  2018-03-31 00:00:00

[115032 rows x 8 columns]

In [ ]:
%%sql
SELECT * FROM coursesMeta;

 * postgresql+psycopg2://@/postgres

                          catch                 c_id  ... attempts clearrate
0       2017-11-16 14:45:36.703  079D-0000-0351-17E2  ...     58.0      3.44
1       2017-11-16 14:45:38.342  07CD-0000-030D-EA60  ...    120.0      1.66
2       2017-11-16 14:45:40.259  07F7-0000-030F-A51B  ...    903.0      0.77
3       2017-11-16 14:45:42.023  080E-0000-0307-A394  ...     93.0      4.30
4       2017-11-16 14:45:43.414  082F-0000-0358-A218  ...     19.0     10.52
...                         ...                  ...  ...      ...       ...
292293  2018-04-10 11:26:16.261  03F8-0000-0337-AC02  ...    314.0      1.91
292294  2018-04-10 11:26:59.971  03F8-0000-035A-ABBF  ...    114.0      4.38
292295  2018-04-10 11:27:05.216  03FA-0000-034B-3B20  ...    425.0      0.00
292296  2018-04-10 11:28:26.403  0402-0000-02FF-5301  ...     57.0     43.85
292297   2018-04-10 11:29:38.36  0402-0000-0311-84B2  ...     44.0     88.63

[292298 rows x 10 columns]

In [ ]:
%%sql
SELECT * FROM clears;

 * postgresql+psycopg2://@/postgres

                           catch                 c_id              p_id
0        2018-02-23 15:22:44.015  0000-0000-0353-3D35         darter60k
1        2018-02-23 15:22:44.015  0000-0000-0353-3D35       davidchofis
2        2018-02-23 15:22:44.015  0000-0000-0353-3D35        fabioviana
3        2018-02-23 15:22:44.015  0000-0000-0353-3D35       groebenzell
4        2018-02-23 15:22:44.015  0000-0000-0353-3D35       igatake0229
...                          ...                  ...               ...
2051804  2018-02-23 15:07:12.505  FFFF-0000-035D-4849        ikazuchi38
2051805  2018-02-23 15:07:12.505  FFFF-0000-035D-4849            prb339
2051806  2018-02-23 15:07:12.505  FFFF-0000-035D-4849  Skalavachris7000
2051807  2018-02-23 15:07:12.505  FFFF-0000-035D-4849  supersmash545355
2051808  2018-02-23 15:07:12.505  FFFF-0000-035D-4849     Void-Triforce

[2051809 rows x 3 columns]

In [ ]:
%%sql
SELECT * FROM likes;

 * postgresql+psycopg2://@/postgres

                          catch                 c_id           p_id
0       2018-02-23 15:22:44.015  0000-0000-0353-3D35    groebenzell
1       2018-03-02 09:46:27.847  0000-0000-035A-9F14         jlan6e
2       2017-12-18 14:47:47.489  0001-0000-0347-486A       cat38690
3       2017-12-18 14:47:47.489  0001-0000-0347-486A       raulcaba
4       2017-12-18 14:47:48.878  0001-0000-0359-B3CD       Tugaeddy
...                         ...                  ...            ...
618682  2018-03-02 10:08:07.374  FFFC-0000-0346-165A    Zurix_Maker
618683  2017-12-18 16:13:11.377  FFFE-0000-032B-2D6F   MakiseKurisu
618684  2018-03-02 10:08:09.252  FFFE-0000-0341-4F2B     028022play
618685  2018-03-02 10:08:09.252  FFFE-0000-0341-4F2B       lucashob
618686  2018-02-23 15:07:12.505  FFFF-0000-035D-4849  graffitiboy44

[618687 rows x 3 columns]

In [ ]:
%%sql
SELECT * FROM plays;

 * postgresql+psycopg2://@/postgres

                           catch                 c_id              p_id
0        2018-02-23 15:22:44.015  0000-0000-0353-3D35         darter60k
1        2018-02-23 15:22:44.015  0000-0000-0353-3D35       davidchofis
2        2018-02-23 15:22:44.015  0000-0000-0353-3D35        fabioviana
3        2018-02-23 15:22:44.015  0000-0000-0353-3D35         gorigokky
4        2018-02-23 15:22:44.015  0000-0000-0353-3D35       groebenzell
...                          ...                  ...               ...
3941373  2018-02-23 15:07:12.505  FFFF-0000-035D-4849  Skalavachris7000
3941374  2018-02-23 15:07:12.505  FFFF-0000-035D-4849  supersmash545355
3941375  2018-02-23 15:07:12.505  FFFF-0000-035D-4849       tomokun0221
3941376  2018-02-23 15:07:12.505  FFFF-0000-035D-4849     Void-Triforce
3941377  2018-02-23 15:07:12.505  FFFF-0000-035D-4849          Xillough

[3941378 rows x 3 columns]

In [ ]:
%%sql
SELECT * FROM records;

 * postgresql+psycopg2://@/postgres

                          catch                 c_id          p_id  timerecord
0       2017-12-18 15:35:29.015  F68A-0000-0337-AF4F  The_Brucican       15482
1       2018-03-02 10:09:32.392  9669-0000-0330-554C    inoino2226        9265
2       2017-12-18 15:47:40.665  0D1D-0000-0355-DA7A       hbeeboy        6692
3       2018-02-23 15:02:20.557  18E3-0000-032A-27AB        Khazey       40383
4       2018-02-23 15:05:16.414  2C55-0000-0300-854A    okayan3378        1533
...                         ...                  ...           ...         ...
117121   2018-02-23 15:22:13.78  DC90-0000-0332-8D93       bouboun        8666
117122  2018-03-02 09:57:33.916  CDF8-0000-038D-4838     massa0130      146230
117123  2018-02-23 14:57:00.835  D6FE-0000-031E-01E1      revolv23        6709
117124  2018-02-23 15:10:13.288  9FF8-0000-0335-A780       213374u       64628
117125   2017-11-16 14:53:54.64  2097-0000-0331-2A21     JulioMega      101124

[117126 rows x 4 columns]

# 1. Top 10 Mapas más jugados:

In [ ]:
%%sql
SELECT id, title, gameStyle, difficulty, COUNT(c_id) AS veces_jugado
FROM plays, courses
where c_id = id
GROUP BY id, title, gameStyle, difficulty
ORDER BY veces_jugado DESC
LIMIT 10

 * postgresql+psycopg2://@/postgres

                    id  ... veces_jugado
0  5AB9-0000-038F-A23E  ...         1673
1  F44D-0000-035E-496C  ...         1143
2  DE4D-0000-035D-3AE1  ...         1089
3  A4E1-0000-038D-0EBC  ...         1021
4  8F40-0000-0391-4B50  ...         1014
5  CE94-0000-038F-7559  ...          997
6  67CF-0000-035F-BC1D  ...          966
7  BAC8-0000-036A-7EE1  ...          937
8  CEB8-0000-0353-A31E  ...          900
9  596A-0000-0375-6596  ...          873

[10 rows x 5 columns]

# 2. Top 10 jugadores más viciados (que han jugado más):

In [ ]:
%%sql
SELECT p_id as player_id, flag ,COUNT(p_id) AS cantidad_de_juegos
FROM plays, players
Where id = p_id 
GROUP BY player_id, flag
ORDER BY cantidad_de_juegos DESC
LIMIT 10

 * postgresql+psycopg2://@/postgres

          player_id flag  cantidad_de_juegos
0   Conducteur59220   FR                2681
1          dellbox2   JP                1951
2           AE4WiiU   US                1686
3          revolv23   FR                1437
4  demonhunter47223   US                1246
5      WIIMoustique   FR                1244
6  buddy1943indiana   US                1242
7   Plusbellelavie5   FR                1234
8     Feuxdelamoule   FR                1096
9        cowboye123   FR                1068

# 3. Top 10 mapas con más likes:

In [ ]:
%%sql
SELECT id, title, gamestyle ,difficulty, cnt as likes
From courses, (SELECT c_id, COUNT(c_id) AS cnt
FROM likes
GROUP BY c_id) as likesCount
Where id = c_id 
ORDER BY likes DESC
Limit 10

 * postgresql+psycopg2://@/postgres

                    id                             title  ...   difficulty likes
0  DE4D-0000-035D-3AE1            [2YMM] Spiny Side Down  ...  superExpert   462
1  CEB8-0000-0353-A31E      Tricky House #1: Spring Time  ...  superExpert   329
2  BAC8-0000-036A-7EE1             [2YMM] Ode to Odyssey  ...       normal   322
3  5AB9-0000-038F-A23E  [Quiz] Look Picture, Choose Item  ...       normal   316
4  F44D-0000-035E-496C           [2YMM] In Muris Occulta  ...       expert   313
5  9C75-0000-0362-33D2     [2YMM] Pipe Connection Issues  ...       expert   287
6  67CF-0000-035F-BC1D     The Kindly Marked Troll Level  ...       expert   270
7  A4E1-0000-038D-0EBC   Marios secret Trainingsparcours  ...       normal   268
8  CBB0-0000-0329-CA7C                        Barb Wired  ...  superExpert   253
9  345E-0000-034A-976E        Pokémon - VS Champion Red♪  ...  superExpert   234

[10 rows x 5 columns]

# 4. Número de creadores de mapas superExpert que juegan mapas superExpert:

In [ ]:
%%sql
Select count(maker)
from (Select distinct maker from courses where difficulty = 'superExpert'
INTERSECT
SELECT p_id From courses, plays Where id = c_id and difficulty = 'superExpert')as tabla

 * postgresql+psycopg2://@/postgres

   count
0   1348

# 5. Top 10 cantidad de récords por la bandera que tienen seleccionada los jugadores:

In [ ]:
%%sql
Select flag, count(flag) as Cantidad_Records
from (Select id, flag, timerecord from players, records where id = p_id) as tabla
group by flag
order by Cantidad_Records DESC Limit 10

 * postgresql+psycopg2://@/postgres

  flag  cantidad_records
0   US             36733
1   JP             31449
2   FR             11117
3   DE              8915
4   CA              6980
5   MX              4483
6   GB              4070
7   ES              2446
8   NL              1387
9   AU              1278

# 6. Número de jugadores que crean mapas y han sido el primero en hacer un clear en algún mapa:

In [ ]:
%%sql
Select count(makerAndFirst) from(
SELECT distinct firstclear as makerAndFirst FROM coursesMeta
INTERSECT
Select distinct maker from courses) as tabla

 * postgresql+psycopg2://@/postgres

   count
0   7631

# 7. Número de mapas que contienen "mario" en su título:

In [ ]:
%%sql
select count(title) from courses where title like '%mario%' or title like '%Mario%' or title like '%MARIO%'

 * postgresql+psycopg2://@/postgres

   count
0   7735

# 8. Cantidad de personas que tienen id y nombre iguales

In [ ]:
%%sql
select count(id) from players where id = name

 * postgresql+psycopg2://@/postgres

   count
0  18189

# 9. Top 10 creadores de mapas con más likes en sus mapas:

In [ ]:
%%sql
select maker, count(likes) as likes_obtenidos from courses, likes where id= c_id group by maker order by likes_obtenidos desc limit 10

 * postgresql+psycopg2://@/postgres

              maker  likes_obtenidos
0  Monkeydelphin173             7086
1          Leeshino             6330
2        Xavierol69             6104
3     quentintheret             5969
4          Tylano64             5367
5       N-Player2.0             4278
6           lukengl             4248
7  NicoPrevoNin10do             4240
8     Feuxdelamoule             4238
9          Handrick             4235

# 10. Top 10 de jugadores con más récords:

In [ ]:
%%sql
select id as player_id, flag, count(id) as records from players, records where id=p_id
group by id order by records desc limit 10

 * postgresql+psycopg2://@/postgres

       player_id flag  records
0        AE4WiiU   US     1323
1       dellbox2   JP     1270
2       revolv23   FR      761
3       Tylano64   FR      610
4      shinbu-10   JP      547
5         507039   JP      514
6         Gorfan   FR      417
7  Mario1UPkoopa   US      404
8     okayan3378   JP      388
9        Dinghy2   CA      351

# 11. Cantidad de veces jugadas, cantidad de mapas y likes de cada dificultad:

In [ ]:
%%sql 
select difficulty, count as CantidadMapas, VecesJugado, likes, (cast(likes as real)/count) as ratiolikes, (cast(VecesJugado as real)/count) as ratiodejuego from
(Select difficulty as d1, count(difficulty) from courses group by difficulty) as tabla1, 
(select difficulty, count(id) as likes from likes, courses where c_id = id group by difficulty) as tabla2,
(select difficulty as d2, count(id) as VecesJugado from plays, courses where c_id = id group by difficulty) as tabla3
where d1=difficulty and d2=difficulty

 * postgresql+psycopg2://@/postgres

    difficulty  cantidadmapas  vecesjugado   likes  ratiolikes  ratiodejuego
0         easy          29692       872472  127948    4.309174     29.384077
1       expert          27753       997645  146866    5.291896     35.947285
2       normal          51354      1725429  252969    4.925984     33.598726
3  superExpert           6233       345832   90904   14.584309     55.484037

# 12. Cantidad de veces jugadas, cantidad de mapas y likes de cada gamestyle:

In [ ]:
%%sql
select gamestyle, cantidadmapas, vecesjugado, likes, (cast(likes as real)/cantidadmapas) as ratiolikes, (cast(vecesjugado as real)/cantidadmapas) as ratiodejuego from (
select gamestyle, count(id) as vecesjugado from plays, courses where c_id = id group by gamestyle) as tabla1,
(select gamestyle as g1, count(id) as likes from likes, courses where c_id = id group by gamestyle) as tabla2,
(Select gamestyle as g2, count(id) as cantidadmapas from courses group by gamestyle) as tabla3
where g1 = gamestyle and g2 = gamestyle

 * postgresql+psycopg2://@/postgres

    gamestyle  cantidadmapas  vecesjugado   likes  ratiolikes  ratiodejuego
0   marioBros          24342       848403  153551    6.308068     34.853463
1  marioBros3           9318       343125   65343    7.012556     36.823889
2  marioBrosU          59464      1940628  252861    4.252338     32.635342
3  marioWorld          21908       809222  146932    6.706774     36.937283

# 13. Cantidad de veces jugadas, cantidad de mapas y likes agrupado en dificultad y gamestyle:

In [ ]:
%%sql
select difficulty,gamestyle, cantidadmapas, vecesjugado, likes, (cast(likes as real)/cantidadmapas) as ratiolikes, (cast(vecesjugado as real)/cantidadmapas) as ratiodejuego from (
select difficulty, gamestyle, count(id) as cantidadmapas from courses group by difficulty, gamestyle) as tabla1,
(select difficulty as d1, gamestyle as g1, count(id) as likes from courses, likes where c_id = id group by difficulty, gamestyle) as tabla2,
(select difficulty as d2, gamestyle as g2, count(id) as vecesjugado from courses, plays where c_id = id group by difficulty, gamestyle) as tabla3
where d1=difficulty and d2=difficulty and g1=gamestyle and g2=gamestyle

 * postgresql+psycopg2://@/postgres

     difficulty   gamestyle  cantidadmapas  ...   likes  ratiolikes  ratiodejuego
0          easy   marioBros           8369  ...   39280    4.693512     29.618592
1          easy  marioBros3           1766  ...   10187    5.768403     31.672707
2          easy  marioBrosU          15925  ...   59491    3.735699     28.735259
3          easy  marioWorld           3632  ...   18990    5.228524     30.575716
4        expert   marioBros           4709  ...   31705    6.732852     37.906562
5        expert  marioBros3           2821  ...   18411    6.526409     37.727756
6        expert  marioBrosU          12964  ...   54369    4.193844     34.518050
7        expert  marioWorld           7259  ...   42381    5.838407     36.536851
8        normal   marioBros          10368  ...   63779    6.151524     35.296200
9        normal  marioBros3           4164  ...   27241    6.542027     36.279299
10       normal  marioBrosU          28317  ...  113087    3.993608     32.270226
11       normal  marioWorld           8505  ...   48862    5.745091     34.640212
12  superExpert   marioBros            896  ...   18787   20.967634     62.580357
13  superExpert  marioBros3            567  ...    9504   16.761905     52.370370
14  superExpert  marioBrosU           2258  ...   25914   11.476528     53.910983
15  superExpert  marioWorld           2512  ...   36699   14.609475     55.069666

[16 rows x 7 columns]

In [ ]:
%%sql
DROP TABLE IF EXISTS test;
Create Table test(
    aa varchar(50),
    bb varchar(50)
);

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
Insert into test (aa,bb)
Values('water','')

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
Select * from test

 * postgresql+psycopg2://@/postgres

      aa     bb
0  grass  water
1  water  grass
2  water

In [ ]:
%%sql
Select * from test where (aa='water' or bb='grass' or aa='grass' or bb='water') and not bb=''

 * postgresql+psycopg2://@/postgres

      aa     bb
0  grass  water
1  water  grass